.how-we-work__title {
  width: 194px;
  height: 45px;
  font-size: 32px;
  line-height: 45px;
  margin: 0;
  align-self: flex-start;
  padding-left: 138px;
  padding-bottom: 23px;
  font-weight: normal;
}