.card {
  width: 270px;
  height: 436px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}
.card:last-child {
  padding-right: 0;
}
.card:hover {
  box-shadow: 10px 10px 15px 0px #0000000D;
}